header {
  display: flex;
  justify-content: space-around;
}
main {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: max-content;
  min-height: 800px;
  border: solid white;
  border-radius: 10px;
}
#tablero {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}
.card {
  height: 220px;
  width: 25%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  transform-style: preserve-3d;
  /*   transition: all 0.8 ease;
 */
  position: relative;
}
.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;

  width: 100%;
  height: 100%;
  position: absolute;
}
.flipCard {
  transform: rotateY(180deg);
}
.front {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}
.card img {
  height: 90%;
  width: 90%;
}
